{# templates/proj/edu/create.html.twig #}
{% extends 'proj/base.html.twig' %}

{% block title %}Add Learning Item{% endblock %}

{% block library_body %}
<section class="edu-form-container">
    <div class="form-header">
        <h1 class="page-title">Add Learning Item</h1>
        <p>Fill in the details below to track a new learning goal.</p>
    </div>

    {{ form_start(form, {'attr': {'class':'edu-form'}}) }}
        <div class="form-group">
            {{ form_label(form.title) }}
            {{ form_widget(form.title, {'attr': {'class':'form-input'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.description) }}
            {{ form_widget(form.description, {'attr': {'class':'form-textarea'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.url) }}
            {{ form_widget(form.url, {'attr': {'class':'form-input'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.status) }}
            {{ form_widget(form.status, {'attr': {'class':'form-select'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.category) }}
            {{ form_widget(form.category, {'attr': {'class':'form-select'}}) }}
        </div>


        <button type="submit" class="btn btn-primary">Save Item</button>
    {{ form_end(form) }}
</section>
{% endblock %}
