{% extends 'base.html.twig' %}

{% block title %}Update Book{% endblock %}

{% block body_class %}book-details-page{% endblock %}

{% block body %}
    <section class="library-form-container">
        <h1>Uppdatera {{ book.title }}</h1>
        {% for flash_message in app.flashes('success') %}
            <div class="alert alert-success">{{ flash_message }}</div>
        {% endfor %}
        {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.title) }}
                {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.title) }}
            </div>
            <div class="form-group">
                {{ form_label(form.isbn) }}
                {{ form_widget(form.isbn, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.isbn) }}
            </div>
            <div class="form-group">
                {{ form_label(form.author) }}
                {{ form_widget(form.author, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.author) }}
            </div>
            <div class="form-group">
                {{ form_label(form.image) }}
                {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.image) }}
            </div>
            <div class="form-actions">
                {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                <a href="{{ path('library_show', {'id': book.id}) }}" class="btn btn-secondary">Tillbaka till boken</a>
            </div>
        {{ form_end(form) }}
    </section>
{% endblock %}
